{% extends 'main.html' %}

{% block content %}

<!--TEMPLATE FEITO PARA A VISUALIZAÇÃO DE FÉRIAS E AFASTAMENTOS-->

<div class="conteudo">
    <div class="ferias">
        <h2>Férias</h2>
        <hr>
        <p>07/07/2022 - 30/07/2022 (23 dias)</p><hr>
        <p>15/01/2022 - 30/01/2022 (15 dias)</p><hr>
        <p>19/02/2023 - 24/05/2023 (15 dias)</p><hr>
    </div>

    <div class="afastamento">
        <h2>Afastamentos</h2>
        <hr>
        <p>11/11/2022 - 20/11/2022 (LTS)</p><hr>
        <p>05/10/2022 - 10/11/2022 (LTS)</p><hr>
    </div>
</div>
<!----------->
{% endblock content %}