{% extends 'main.html'%}

{% block content%}
<div class="container">
    <div class="serv-info">
        {% if request.method == 'GET' %}
        <p>Matricula: {{ funcionario.matricula }}</p>
        <p>Nome:{{ funcionario.nome}} </p>
        <p>Cargo: {{ funcionario.cargo }}</p>
        <p>Situação: {{ funcionario.situacao }}</p>
        <!-- Exiba outros campos do seu modelo aqui -->

        {% else %}
        <p>Nenhum objeto encontrado com o ID informado.</p>
        {% endif %}
    </div>

    <div class="comp-set">
        <h1>Editar Item</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <li>{{ atribuicao.item.nome }}</li>
            {{ form.as_p }}
            <button type="submit">Salvar</button>
            {% if messages %}
            <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
        </form>
    </div>
    
</div>

{% endblock content %}
