@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;500;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    position: relative;
    max-height: 4rem;
    background-color: rgb(51, 150, 243);
    justify-content: space-between;
    align-items: center;
}

nav h2 a{
    color: #fff;
    text-decoration: none;
    padding: 0;
}

.menu-icon {
    display: flex;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-left: 20px;
    width: 0;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #424052;
    width: 225px;
    height: 42.8vw;
    z-index: 0; 
    overflow: auto;
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
}

.menu-content ul li a {
    margin-top: 40px;
    margin-left: 20px;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#menu-toggle:checked + .menu-icon + .menu-content {
    display: block;
}

.btn-info {
    margin-right: 20px;
    background-color: rgb(51, 150, 243);
    border: none;
    cursor: pointer;
}

.btn-info a i {
    font-size: 35px;
    color: #fff;
}

.info {
    display: grid;
    gap: 10px;
}

.info, label {
    width: 60%;
}

.info label {
    color: black;
    justify-content: space-between;
}

/* conteúdo */

.conteudo {
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgb(199, 198, 198);
    width: 50rem;
    max-width: 1200px;
    height: 32rem;
    border-radius: 15px;
    overflow: auto;
}

.assinatura {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    height: 50px;
    margin: 10px 10px;
}

.info-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    background-color: #fff;
}
.assinatura .saida {
    margin-left: 0;
    margin-right: 55px;
}

.assinatura .digitalmente {
    margin-right: 45px;
}


.edit-out-info {
    display: flex;
}

.edit-out-info button{
    background-color: #fff;
    cursor: pointer;
    border: none;
    color: black;
    height: 60px;
}

.edit-out-info button > i {
    font-size: 18px;
}

.digitalmente {
    width: 200px;
}

/* marcar frequência */

.markup_button {
    position: relative;
    background-color: rgb(51, 150, 243);
    color: #fff;
    border: none;
    border-radius:5px;
    height: 5rem;
    width: 14.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
    float: right;
    left: 14.3rem;
    margin-top: 14rem;
}

.markup_button i {
    color: #fff;
    font-size: 25px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 100px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 800px;
    text-align: center;
}

.fechar {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background-color: #357BDA;
    color: white;
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.popup-content .centered-button {
    display: block;
    margin: 0 auto; /* Isso centralizará horizontalmente o botão */
    background-color: #458EFB;
    color: #fff;
    border: none;
    width: 160px;
    height: 40px;
    margin-top: 8px;
    margin-left: 315px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.popup-edit, .popup-delete {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 90%;
    border-radius: 12px;
}

.popup-edi {
    display: grid;
    justify-content: center;
    align-items: center;
    background: white;
    width: 90%;
    height: 85%;
    padding: 10px;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.popup-edi input {
    border: 1px solid #ccc;
    border-radius: 12px;
}

.popup-edi button {
    height: 35px;
    width: 250px;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    background-color: #458EFB;
    color: white;
}

.popup-edi label {
    display: block;
    width: 250px;
}

.popup-exc {
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: white;
    width: 70%;
    height: 70%;
    padding: 10px;
    margin-top: 5%;
    border-radius: 12px;
}

.popup-exc button {
    width: 160px;
    height: 40px;
    margin-top: 8%;
    margin-right: 20px;
    background-color: rgb(230, 230, 230);
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.popup-exc .btn-del {
    background-color: rgb(238, 5, 5);
    color: #fff;
}

.time-entry {
    display: inline-block;
    margin-right: 20px;
}

.time-entry label {
    display: block;
    margin-left: 64px;
    font-size: 18px;
}

.time-entry input {
    border: 1px solid;
    width: 190px;
}

/* user */ 

.content {
    background-color: #D9D9D9;
    max-height: 1200px;
    border-radius: 8px;
    width: 50rem;
    max-width: 1200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 53%;
    position: absolute;
    padding: 4rem;
}

.info-content, .info-content2, .info-content3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 20px;
    margin-bottom: 20px;
}

.info-content div, .info-content2 div, .info-content3 div {
    display: grid;
    grid-template-columns: 1fr;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.nameprov, #nomeCompleto, #lotacao, #provimento {
    width: 75%;
}

.mat, #categoria, #cargoFuncao {
    width: 80%;
}

#cargoEfetivo {
    width: 50%;
}


.img i {
    color: rgb(0, 140, 255);
    position: relative;
    width: 5rem;
    font-size: 6rem;
    float: right;
    margin-right: 60px;
    top: 50px;
}

.user-sair {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sair {
    background-color: rgb(51, 150, 243);
    color: #fff;
    border: none;
    border-radius:5px;
    height: 35px;
    width: 6rem;
    font-size: 20px;
    cursor: pointer;
}

.btn-sair a {
    color: #fff;
}

/* back */

#backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #458EFB;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #357BDA;
}


/* popup confirmation */

.confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

.confirmation-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.confirmation-content img {
    width: 15%;
    margin-left: 180px;
}

/* Mês anterior CSS */ 

.year-menu {
    padding: 0;  
    margin: 0;
} 

.year-menu label{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ccc;
    width: 98.6%;
    flex-direction: column; 
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.year-title {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;
    text-align: center;   
    width: 100%;
    height: 25px;
}

#months {
    display: none;
    width: 100%;         
}

#months li {
    text-align: center;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-menu .year-title {
    text-align: center;
}

.year-menu .year-title i {
    margin: 0;
}

.year-menu .year-title h3{
    color: #f5f5f5;
}

.toggle-checkbox {
    display: none;
}

.bi-arrow-right-circle {
    transition: transform 0.3s ease;
    font-size: 18px;
}

.toggle-checkbox:checked + .year-title .bi-arrow-right-circle {
    transform: rotate(90deg); 
}

.year-menu li {
    padding: 6px;
    display: flex;
    justify-content: space-between;
}

.year-menu li:last-child {
    border-bottom: none;
}

.year-menu li p {
    text-decoration: none;
    color: black;
}

.year-menu li button {
    background-color: red;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    height: 23px;
    width: 130px;
    cursor: pointer;
}

/* ferias e afastamentos */

.ferias {
    text-align: center;
    margin-bottom: 80px;
}

.ferias h2 {
    margin-bottom: 20px;
}

.ferias p {
    text-align: left; 
    margin: 0 auto;
    max-width: 300px; 
}

.afastamento {
    text-align: center; 
}

.afastamento h2 {
    margin-bottom: 20px;
}

.afastamento p {
    text-align: left; 
    margin: 0 auto; 
    max-width: 300px; 
}

/* gestão */ 

.nome-setor  header{
    background-color: rgb(51, 150, 243);
    letter-spacing: 5px;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 25px;
    font-weight: 700;
    border-start-end-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;
    justify-content: center;
}

.selectionContainer {
    background-color: rgb(199, 198, 198);
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.selectionContainer label {
    width: 155px;
    margin-left: 12px;
    cursor: pointer;
}

.selectionContainer button {
    margin-right: 30px;

}

.btn-relatorio {
    background-color: rgb(51, 150, 243);
    color: white;
    width: 130px;
    border: none;
    border-radius: 8px;
    height: 30px;
    cursor: pointer;
}

.edit-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.edit-user input{
    margin-left: 10px;
}

.edit-user p a {
    margin-right: 8px;
    text-decoration: none !important;
    color: black;
}

.edit-user p {
    margin-right: 15px;
}

.edit-user button {
    background-color: #fff;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

/* relatorio */ 

.relatorio {
    position: relative;
    border: 3px solid rgb(199, 198, 198); 
    float: right;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 12px;
    width: 16%;
    height: 120px;
}

.relatorio header {
    background-color: black;
    color: #fff;
    font-size: 20px;
    width: 100%;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    border-start-end-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    justify-content: center;
}

.btnReport {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    margin-top: 20px;
    margin-left: 12px;
    height: 23px;
}

.btnReport a{
    width: 100%;
    text-decoration: underline;
    color: black;
    border: none;
}

.obs {
    width: 16%;
    height: 120px;
    position: relative;
    float: right;
    left: 235px;
    margin-top: 160px;
    margin-right: 10px;
    border: 3px solid rgb(199, 198, 198);
    border-radius: 12px;
}

.obs header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(199, 198, 198);
}

.obs p {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

/* relatorio popup */

.reportPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.reportPopupContent {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.reportPopupContent img  {
    width: 90px;
    margin-top: 40px;
}
  
.close {
    position: absolute;
    background-color: #357BDA;
    color: #fff;
    width: 25px;
    height: 20px;
    top: 15px;
    align-self: center;
    right: 10px;
    font-size: 19px;
    cursor: pointer;
}
  
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #357BDA;
    margin-top: 40px;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
/* popup user */

.customPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}
.customPopupContent {
    position: absolute;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.customPopupContent div {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.info-user-content {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/* calendario */ 

.days {
    text-align: center;
} 

.calendar {
    position: relative;
    width: 14rem;
    height: 11rem;
    margin-right: 20px;
    border: 3px solid #ccc;
    border-radius: 6px;
    background-color: #f5f5f5;
    float: right;
    top: 15px;
    margin-top: 10px;
}

#currentMonth {
    top: 0;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 100%;
    font-size: 24px;
    background-color: black;
    color: white;
}

.date {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.day-of-week {
    font-size: 18px;
    font-style: italic;
    color: black;
}

.day {
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
}

.perfil {
    display: none;
}

@media screen and (max-width:400px) {
    nav{
        display: flex;
        width: 100%;
    }

    nav h2 {
        display: none;
    }
    .user-sair {
        display: none !important ;
    }
    .menu-icon {
        margin-left: 12rem;
    }
    .menu-content{
        width: 100%;
    }
    .menu-content ul {
        height: 100%;
    }
    .conteudo {
        width: 22.7rem;
        height: 58vh;
        margin-top: 5rem;
    }
    .markup_button {
        display: relative;
        top: 36rem;
        margin-right: 17rem;
        width: 20rem;
        height: 8vh;
    }
    .calendar {
        width: 23rem;
        top: 1rem;
        margin-left: 1rem;  
    }
    #backButton {
        display: none;
    }
    .assinatura {
        display: none;
    }
    .info-day {
        display: none;
    }
    .mobile {
        border-bottom: 1px solid black;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
    }
    .info2 {
        margin-left: 10px;
    }
    .info-mobile {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
    }
    .info-mobile p{
        margin-left: 10px;
    }
    .mobile, .info-mobile{
        margin-left: 2px;
        margin-right: 2px;
    }
    .edit-out-info {
        vertical-align: middle;
        margin-top: 1rem;
    }
    .relatorio {
        width: 12rem;
        float: left;
    }
    .obs {
        position: relative;
        margin-right: 15rem;
        bottom: 17.8rem;
        width: 12rem;
        margin-left: 10rem;
    }
    .popup-content {
        width: 80%;
    }
}

@media screen and (max-width:500px) {
    nav{
        display: flex;
        width: 100%;
    }

    nav h2 {
        display: none;
    }
    .user-sair {
        display: none !important ;
    }
    .menu-icon {
        margin-left: 12rem;
    }
    .menu-content{
        width: 100%;
    }
    .menu-content ul {
        height: 100%;
    }
    .conteudo {
        width: 22.7rem;
        height: 58vh;
        margin-top: 5rem;
    }
    .markup_button {
        display: relative;
        top: 36rem;
        margin-right: 17rem;
        width: 20rem;
        height: 8vh;
    }
    .calendar {
        width: 23rem;
        top: 1rem;
        margin-left: 1rem;  
    }
    #backButton {
        display: none;
    }
    .assinatura {
        display: none;
    }
    .info-day {
        display: none;
    }
    .mobile {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
    }
    .info2 {
        margin-left: 10px;
        border-bottom: none;
        border-top: none;
    }
    .info-mobile {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
    }
    .info-mobile p{
        margin-left: 10px;
    }
    .mobile, .info-mobile{
        margin-left: 2px;
        margin-right: 2px;
    }
    .edit-out-info {
        margin-left: 0.5rem;
        vertical-align: middle;
        margin-top: 1rem;
    }
    .relatorio {
        width: 12rem;
        float: left;
    }
    .obs {
        position: relative;
        margin-right: 15rem;
        bottom: 17.8rem;
        width: 12rem;
        margin-left: 10rem;
    }
    .popup-content {
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    nav{
        display: flex;
        width: 100%;
    }

    nav h2 {
        display: none;
    }
    .user-sair {
        display: none !important ;
    }
    .menu-icon {
        margin-left: 12rem;
    }
    .menu-content{
        width: 100%;
    }
    .menu-content ul {
        height: 100%;
    }
    .conteudo {
        width: 22.7rem;
        height: 58vh;
        margin-top: 5rem;
    }
    .markup_button {
        display: relative;
        top: 36rem;
        margin-right: 17rem;
        width: 20rem;
        height: 8vh;
    }
    .calendar {
        width: 23rem;
        top: 1rem;
        margin-left: 1rem;  
    }
    #backButton {
        display: none;
    }
    .assinatura {
        display: none;
    }
    .info-day {
        display: none;
    }
    .mobile {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
    }
    .info2 {
        margin-left: 10px;
        border-bottom: none;
        border-top: none;
    }
    .info-mobile {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
    }
    .info-mobile p{
        margin-left: 10px;
    }
    .mobile, .info-mobile{
        margin-left: 2px;
        margin-right: 2px;
    }
    .edit-out-info {
        margin-left: 0.5rem;
        vertical-align: middle;
        margin-top: 1rem;
    }
    .relatorio {
        width: 12rem;
        float: left;
    }
    .obs {
        position: relative;
        margin-right: 15rem;
        bottom: 17.8rem;
        width: 12rem;
        margin-left: 10rem;
    }
    .popup-content {
        width: 80%;
    }
}

@media screen and (max-width:800px) {
    nav{
        display: flex;
        width: 100%;
    }

    nav h2 {
        display: none;
    }
    .user-sair {
        display: none !important ;
    }
    .menu-icon {
        margin-left: 12rem;
    }
    .menu-content{
        width: 100%;
    }
    .menu-content ul {
        height: 100%;
    }
    .conteudo {
        width: 22.7rem;
        height: 58vh;
        margin-top: 5rem;
    }
    .markup_button {
        display: relative;
        top: 36rem;
        margin-right: 17rem;
        width: 20rem;
        height: 8vh;
    }
    .calendar {
        width: 23rem;
        top: 1rem;
        margin-left: 1rem;  
    }
    #backButton {
        display: none;
    }
    .assinatura {
        display: none;
    }
    .info-day {
        display: none;
    }
    .mobile {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
    }
    .info2 {
        margin-left: 10px;
        border-bottom: none;
        border-top: none;
    }
    .info-mobile {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
    }
    .info-mobile p{
        margin-left: 10px;
    }
    .mobile, .info-mobile{
        margin-left: 2px;
        margin-right: 2px;
    }
    .edit-out-info {
        margin-left: 0.5rem;
        vertical-align: middle;
        margin-top: 1rem;
    }
    .relatorio {
        width: 12rem;
        float: left;
    }
    .obs {
        position: relative;
        margin-right: 15rem;
        bottom: 17.8rem;
        width: 12rem;
        margin-left: 10rem;
    }
    .popup-content {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    nav{
        display: flex;
        width: 100%;
    }

    nav h2 {
        display: none;
    }
    .user-sair {
        display: none !important ;
    }
    .menu-icon {
        margin-left: 12rem;
    }
    .menu-content{
        width: 100%;
    }
    .menu-content ul {
        height: 100%;
    }
    .conteudo {
        width: 22.7rem;
        height: 58vh;
        margin-top: 5rem;
    }
    .markup_button {
        display: relative;
        top: 36rem;
        margin-right: 17rem;
        width: 20rem;
        height: 8vh;
    }
    .calendar {
        width: 23rem;
        top: 1rem;
        margin-left: 1rem;  
    }
    #backButton {
        display: none;
    }
    .assinatura {
        display: none;
    }
    .info-day {
        display: none;
    }
    .mobile {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;

    }
    .info2 {
        margin-left: 10px;
        border-bottom: none;
        border-top: none;
    }
    .info-mobile {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
    }
    .info-mobile p{
        margin-left: 10px;
    }
    .mobile, .info-mobile{
        margin-left: 2px;
        margin-right: 2px;
    }
    .edit-out-info {
        margin-left: 0.5rem;
        vertical-align: middle;
        margin-top: 1rem;
    }
    .relatorio {
        width: 12rem;
        float: left;
    }
    .obs {
        position: relative;
        margin-right: 15rem;
        bottom: 17.8rem;
        width: 12rem;
        margin-left: 10rem;
    }
    .popup-content {
        width: 80%;
        max-width: 1200px;
    }
    .content {
        width: 80%;
        max-width: 1200px;
    }
    .perfil{
        visibility: visible;
    }
}


